<div class="dashboard-instructor-container">
  <div class="dashboard-instructor-welcome">Welcome</div>
  <%= link_to 'View Complete Roster', students_path, class: "dashboard-instructor-roster" %>
  <%= link_to 'View All Assigned Jobs', jobs_path, class: "dashboard-instructor-jobs" %>
  <%= link_to 'Periods Dashboard', periods_path, class: "dashboard-instructor-periods" %>
</div>
