<div id="chart" class="clearfix"></div>

<script>

  var data = <%= raw @all_days.to_json %>;

  app.students.behavior(data);

</script>

<% if @transaction %>
  <div class="modal">
    <div class="main-modal">
      <div class="main-modal-header">
        <i class="fa-close fa fa-2x modal-close"></i>
      </div>
      <div id="send-money-form" class="modal-content"><%= render 'transactions/send_money' %></div>
    </div>
    <div class="outer-modal-click"></div>
  </div>
<% end %>
