

<div class="heading-container">
  <h1 class="roster-title">Roster</h1>
</div>

<%= link_to 'Give Individual Bonus', give_bonus_students_path %>
<% @periods.each do |per| %>
  <% per.find_richest %>

  <div id="period-table<%= per.id %>"><%= render partial: 'periods/table', locals: { students: per.students } %></div>

<% end %>
