<div class="heading-container">
  <h1 class="roster-title">Roster</h1>
</div>
<% @periods.each do |per| %>
  <% per.find_richest %>
  <table class="pure-table pure-table-bordered student-table">
    <thead>
      <tr>
        <th colspan="6"><%= link_to "#{per.name}", per %></th>
      </tr>
      <tr>
        <th>First name</th>
        <th>Last name</th>
        <th>Cash</th>
        <th>Recent Behavior</th>
        <th>Jobs</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= render partial: 'periods/table', locals: { students: per.students } %>
    </tbody>
  </table>
<% end %>
