<div class="heading-container">
  <h1 class="roster-title">Roster</h1>
  <div class="buttons-container">
    <button class="pure-button display-class-bonus-modal btn-cc">Award Individual Bonus</button>
  </div>
</div>

<% @periods.each do |per| %>
  <% per.find_richest %>

  <div id="period-table<%= per.id %>"><%= render partial: 'periods/table', locals: { students: per.students } %></div>

<% end %>


<div class="class-bonus-modal-container">
  <div class="class-bonus-modal-header">
    <i class="fa-remove fa fa-2x close-btn"></i>
  </div>
  <div class="class-bonus-modal">
    <td class="test"> <%= render partial: 'give_bonus' %></td>
  </div>
</div>
