<div class="links">
  <%= link_to 'Back', students_path, class: "back" %>
  <%= link_to 'Home', root_path, class: "home" %>
</div>

<div class="students-new-title">New Student</div>

<%= render 'form' %>