<div class="new-period-form-container">
  <h1><%= @period.name %></h1>
  <div class="buttons-container">
    <%= link_to 'Show', @period, class: "pure-button" %>
  </div>
</div>

<div class="edit-periods-container">
  <div id="period-edit-form"><%= render 'form' %></div>
</div>
