<div class="new-job-container">
  <div class="heading-container new-job-heading-container">
    <h1>Hiring Form</h1>
  </div>

  <div class="new-job-form-container">
    <%= render 'form' %>
  </div>
</div>
