<div class="login-welcome-container">
  <div class="login-welcome">Welcome to ClassCash</div>
    <%= link_to sessions_login_path, class: "login-welcome-link" do %>
      <div class="login-welcome-button">Login</div>
    <% end %>
</div>