
<li>
  <%= right.description %>
  <% if right.instructor %>
    <%= link_to 'x', right, method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>

  <ul>
    <% right.students.each do |s| %>
      <li><%= s.full_name %> <%= link_to "x", fire_path(right, s), remote: true %></li>
    <% end %>
  </ul>

</li>
