
<td><%= right.description %></td>
<td>
  <% right.students.each do |s| %>
    <%= s.full_name %> <%= link_to "x", fire_path(right, s), remote: true %><br>
  <% end %>
</td>
<td>
  <% if right.instructor %>
    <%= link_to 'Remove', right, method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
</td>
