<table class="pure-table pure-table-bordered centered">
  <thead>
    <tr>
      <th>Right</th>
      <th>Students</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @rights.each do |right| %>
      <tr id="right-row<%= right.id %>">
        <%= render partial: 'show', locals: { right: right } %>
      </tr>
    <% end %>
  </tbody>
</table>

<div><%= render partial: 'form' %></div>

<br>

<h4>Students who have earned a right:</h4>
<ul id="new-rights-list"><%= render 'rights_list' %></ul>
