

<p>
  <strong>Description:</strong>
  <%= @right.description %>
</p>

<p>
  <strong>Teacher:</strong>
  <%= @right.teacher_id %>
</p>

<%= link_to 'Edit', edit_right_path(@right) %> |
<%= link_to 'Back', rights_path %>
