<div class="heading-container">
  <h1 class="active-loans">Active Loans</h1>
</div>

<%= render partial: 'loan_table', locals: { loans: @loans.select{ |l| l.accepted == true }} %>

<div class="heading-container">
  <h1 class="active-loans">Offered Loans</h1>
</div>

<%= render partial: 'loan_table', locals: { loans: @loans.select{ |l| l.accepted == nil }} %>

<div class="heading-container">
  <h1 class="active-loans">Rejected Loans</h1>
</div>

<%= render partial: 'loan_table', locals: { loans: @loans.select{ |l| l.accepted == false }} %>
