$steel-gray: #537E7E;
$dark-blue-gray: #223D42;
$gray: #5A6B64;
$light-pale-green: #BED5BD;
$pale-green: #82B8A4;
$green: #47A275;
$blue-green: #5EB2AA;
$off-white: #FAFAFA;

$primary-bg-color: $green;
$primary-font-color: $off-white;
$primary-btn-color: $dark-blue-gray;
$primary-btn-font-color: $off-white;
$secondary-btn-color: $off-white;
$secondary-btn-font-color: $gray;
$third-btn-color: $green;
$third-btn-font-color: $off-white;