// Place all the styles related to the Dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'colors';

// Dashboard - Instructor

.dashboard-instructor-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem 0;
  background-color: $primary-bg-color;
  width: 20rem;
}

  .dashboard-instructor-welcome {
    position: relative;
    font-size: 2rem;
    text-align: center;
    color: $primary-font-color;
    margin-bottom: 2rem;
  }
  
  .dashboard-instructor-roster {
    position: relative;
    text-decoration: none;
    display: block;
    padding: 0.5rem 0;
    width: 15rem;
    background-color: $primary-btn-color;
    color: $primary-btn-font-color;
    margin: 0 auto 2rem auto;
    text-align: center;
    font-size: 1rem;
    
    &:hover,
    &:focus {
      background-color: $secondary-btn-color;
      color: $secondary-btn-font-color;
    }
  }
  
  .dashboard-instructor-behavior {
    position: relative;
    text-decoration: none;
    display: block;
    padding: 0.5rem 0;
    width: 15rem;
    background-color: $primary-btn-color;
    color: $primary-btn-font-color;
    margin: 0 auto 2rem auto;
    text-align: center;
    font-size: 1rem;
    
    &:hover,
    &:focus {
      background-color: $secondary-btn-color;
      color: $secondary-btn-font-color;
    }
  }
  
  .dashboard-instructor-jobs {
    position: relative;
    text-decoration: none;
    display: block;
    padding: 0.5rem 0;
    width: 15rem;
    background-color: $primary-btn-color;
    color: $primary-btn-font-color;
    margin: 0 auto 2rem auto;
    text-align: center;
    font-size: 1rem;
    
    &:hover,
    &:focus {
      background-color: $secondary-btn-color;
      color: $secondary-btn-font-color;
    }
  }
  
  .dashboard-instructor-periods {
    position: relative;
    text-decoration: none;
    display: block;
    padding: 0.5rem 0;
    width: 15rem;
    background-color: $primary-btn-color;
    color: $primary-btn-font-color;
    margin: 0 auto;
    text-align: center;
    font-size: 1rem;
    
    &:hover,
    &:focus {
      background-color: $secondary-btn-color;
      color: $secondary-btn-font-color;
    }
  }