// Place all the styles related to the Dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'variables';

// Dashboard - Instructor

.dashboard-instructor-container {
  position: relative;
  top: $standard-margin-top;
  display: block;
  margin: 0 auto;
  padding: 2rem;
  background-color: $primary-bg-color;
  color: $primary-font-color;
  width: 20rem;
}

  .dashboard-instructor-welcome {
    position: relative;
    font-size: 3em;
    text-align: center;
    color: $primary-font-color;
  }
  
  .dashboard-instructor-container a {
    position: relative;
    text-decoration: none;
    display: block;
    padding: 0.5rem 0;
    margin-top: 1rem;
    width: 100%;
    background-color: $primary-btn-color;
    color: $primary-btn-font-color;
    text-align: center;
    font-size: 1em;
    
    &:hover,
    &:focus {
      background-color: $secondary-btn-color;
      color: $secondary-btn-font-color;
    }
  }
  
  
// Dashboard - Student

.dashboard-student-container {
  position: relative;
  top: $standard-margin-top;
  display: block;
  margin: 0 auto;
  padding: $standard-padding-all;
  background-color: $primary-bg-color;
  color: $primary-font-color;
  width: 20rem;
}

  .dashboard-student-send-money-link {
    text-decoration: none;
    text-align: center;
    width: 10rem;
    display: block;
    position: relative;
    margin: 0 auto;
    padding: 0.5rem 0;
    font-size: 1rem;
    background-color: $primary-btn-color;
    color: $primary-btn-font-color;
    
    &:hover,
    &:focus {
      background-color: $secondary-btn-color;
      color: $secondary-btn-font-color;
    }
  }