/* 
CSS GROUPING GUIDE
  1. Position
  2. Box
  3. Border
  4. Background
  5. Text
  6. Transforms
  7. Transitions/Animations
  8. Other
*/

@import 'variables';

* {
  box-sizing: border-box;
}

* + * {
  margin: 1rem 0;
}

body {
  background: $off-white;
}

form {
  max-width: 15rem;
  margin: 0 auto;
}

input[type="checkbox"] {
  margin-right: 0.5rem;
}

input.string,
input.password {
  width: 100%;
}

.centered {
  margin: 0 auto;
}