/*
CSS GROUPING GUIDE
  1. Position
  2. Box
  3. Border
  4. Background
  5. Text
  6. Transforms
  7. Transitions/Animations
  8. Other
*/

@import 'variables';

* {
  box-sizing: border-box;
}

body {
  background: $body;
  height: 100%;
}


// Navigation Bar
.page-header {
  background-color: $green-primary;
  position: relative;
  top: 0;
  right: 0;
  left: 0;
}

.top-nav-ul {
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 1.5em;
}

.top-nav-ul a {
  text-decoration: none;
  color: $body;
  padding: 0 0.75em 0.25em 0.75em;
}

.top-nav-li {
  display: inline-block;
}

.top-nav-ul a:hover {
  border-bottom: 3px solid $body;
}

.home-icon,
.signout-icon {
  position: absolute;
  color: $body;
  top: 0.5em;
  text-decoration: none;
}

.home-icon {
  left: 1em;
}

.signout-icon {
  right: 1em;
}


// Notice/Alert
.notice, #notice,
.alert, #alert {
  text-align: center;
}


// Other Styles that flow through everything

.form-width {
  width: 15em;
}

.input-total {
  width: 100%;
}

input[type="checkbox"] {
  margin-right: 0.5rem;
}

.centered {
  margin: 0 auto;
}

td.numeric {
  text-align: right;
}

.jobs-table, .periods-table, .period-table, .student-table {
  width: 80%;
  margin: 0 auto;
  min-width: 880px;
}

.heading-container {
  width: 80%;
  margin: 0 auto;
  position: relative;
  top: 0;
  height: 80px;
  min-width: 880px;
  margin-bottom: 10px;
}

.heading-container h1 {
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 0;
}

.buttons-container {
  position: absolute;
  right: 0;
  bottom: 0;
}

.buttons-container .pure-button {
  display: inline-block;
  margin: 0;
}

.gen-link {
  color: #0078E7;
  text-decoration: none;
}

td .pure-button {
  display: block;
  margin: 0 auto;
}
