/*
CSS GROUPING GUIDE
  1. Position
  2. Box
  3. Border
  4. Background
  5. Text
  6. Transforms
  7. Transitions/Animations
  8. Other
*/

@import 'variables';

* {
  box-sizing: border-box;
}

* + * {
  margin-top: 1rem;
}

body {
  background: $off-white;
  height: 100%;
}

.page-header {
  background-color: #0078E7;
  padding: 10px 0;
  position: relative;
  top: 0;
  right: 0;
  left: 0;
}

.top-nav-ul {
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

.top-nav-ul a {
  text-decoration: none;
  color: #eee;
}

.top-nav-li {
  display: inline-block;
  padding: 0 0.75em 0.25em 0.75em;
  cursor: pointer;
  border-bottom: 3px solid #0078E7;
}

.top-nav-li:hover {
  border-bottom: 3px solid #eee;
}

.signout-icon, .home-icon {
  position: absolute;
  right: 25px;
  top: 0;
  color: #eee;
  cursor: pointer;
  width: 25px;
  text-decoration: none;
}

.home-icon {
  left: 25px;
}

.notice, #notice,
.alert, #alert {
  text-align: center;
}

form {
  width: 15rem;
  margin: 0 auto;
}

input[type="checkbox"] {
  margin-right: 0.5rem;
}

input.string, input.password, input.numeric,
input[type="number"], input[type="text"], input[type="password"],
select {
  width: 100%;
}

.centered {
  margin: 0 auto;
}

td.numeric {
  text-align: right;
}

.jobs-table, .periods-table, .period-table, .student-table {
  width: 80%;
  margin: 0 auto;
  min-width: 880px;
}

.heading-container {
  width: 80%;
  margin: 0 auto;
  position: relative;
  top: 0;
  height: 80px;
  min-width: 880px;
  margin-bottom: 10px;
}

.heading-container h1 {
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 0;
}

.buttons-container {
  position: absolute;
  right: 0;
  bottom: 0;
}

.buttons-container .pure-button {
  display: inline-block;
  margin: 0;
}

td .pure-button {
  display: block;
  margin: 0 auto;
}
