// Place all the styles related to the devise view here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'variables';

// views/devise/sessions/new.html.erb

h1 {
  color: #FAFAFA;
  text-align: center;
}

.background-image {
  background-size: cover;
  position: fixed;
  background-image: url('coins.jpg'); // image is from http://bit.ly/1LTyHOn
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -100;
}

.simple_form {
  position: relative;
  display: block;
  width: 20rem;
  margin: 2rem auto 1rem auto;
  color: #FAFAFA;
  font-size: 1.2em;
}

  .form-inputs > div {
    margin-bottom: 2rem;
  }
  
  .simple_form input[type="email"],
  .simple_form input[type="password"] {
    position: absolute;
    right: 0;
  }
  
  .input.boolean.optional {
    text-align: center;
  }
  
  .form-actions {
    text-align: center;
  }
  
  .simple_form input[type="submit"] {
    width: 15rem;
    padding: 0.5rem 0;
    background-color: $off-white;
    color: $blue-green;
    font-size: 1em;
    
    &:hover,
    &:focus {
      background-color: $blue-green;
      color: $off-white;
    }
  }