// Place all the styles related to the navigation bar here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'colors';

.link-logout {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: inline-block;
  text-decoration: none;
  padding: 0.5rem 0;
  text-align: center;
  width: 10rem;
  background-color: $primary-btn-color;
  color: $primary-btn-font-color;
  
  &:hover,
  &:focus {
    background-color: $light-pale-green;
    color: $secondary-btn-font-color;
  }
}

.links {
  position: absolute;
  right: 12rem;
  top: 1rem;
}

.add-new-student {
  position: relative;
  display: inline-block;
  text-decoration: none;
  padding: 0.5rem 0;
  text-align: center;
  margin: 0 0.5rem;
  width: 10rem;
  background-color: $primary-btn-color;
  color: $primary-btn-font-color;
  
  &:hover,
  &:focus {
    background-color: $light-pale-green;
    color: $secondary-btn-font-color;
  }
}

.home {
  position: relative;
  display: inline-block;
  text-decoration: none;
  padding: 0.5rem 0;
  text-align: center;
  margin: 0 0.5rem;
  width: 10rem;
  background-color: $primary-btn-color;
  color: $primary-btn-font-color;
  
  &:hover,
  &:focus {
    background-color: $light-pale-green;
    color: $secondary-btn-font-color;
  }
}

.back {
  position: relative;
  display: inline-block;
  text-decoration: none;
  padding: 0.5rem 0;
  text-align: center;
  margin: 0 0.5rem;
  width: 10rem;
  background-color: $primary-btn-color;
  color: $primary-btn-font-color;
  
  &:hover,
  &:focus {
    background-color: $light-pale-green;
    color: $secondary-btn-font-color;
  }
}

.edit {
  position: relative;
  display: inline-block;
  text-decoration: none;
  padding: 0.5rem 0;
  text-align: center;
  margin: 0 0.5rem;
  width: 10rem;
  background-color: $primary-btn-color;
  color: $primary-btn-font-color;
  
  &:hover,
  &:focus {
    background-color: $light-pale-green;
    color: $secondary-btn-font-color;
  }
}