// Place all the styles related to the navigation bar here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'colors';

.link-logout {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: inline-block;
  text-decoration: none;
  padding: 0.5rem 1rem;
  background-color: $primary-btn-color;
  color: $primary-btn-font-color;
  
  &:hover,
  &:focus {
    background-color: $light-pale-green;
    color: $secondary-btn-font-color;
  }
}