// Place all the styles related to the Periods controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'colors';

// Enter Behavior

.enter-behavior-container {
  position: relative;
  top: 6rem;
  display: block;
  width: 25rem;
  margin: 0 auto;
  background-color: $primary-bg-color;
  color: $primary-font-color;
  padding: 1rem;
}

  .enter-behavior-title {
    margin-bottom: 2rem;
  }
  
  .enter-behavior-container input[type="submit"] {
    border: 0;
    font-size: 1rem;
    background-color: $primary-btn-color;
    color: $primary-btn-font-color;
    padding: 0.5rem 1rem;
    display: block;
    margin: 0 auto;
  }