// Place all the styles related to the Periods controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'variables';

// Periods Table Page (periods/index.html.erb)

.periods-table-title {
  position: relative;
  text-align: center;
  top: 4rem;
}

.periods-table {
  position: relative;
  top: $standard-margin-top;
  margin: 0 auto;
}

  .periods-table th {
    padding: 0.5rem;
    text-align: center;
    font-size: 1rem;
  }

  .periods-table td {
    padding: 0.2rem 1rem;
    font-size: 0.8rem;
    height: 3rem;
    vertical-align: bottom;
  }

  .periods-table-info:not(:last-child) {
    border-bottom: 1px solid $primary-btn-color;
  }
  
  .periods-table-info-options span {
    display: block;
    background-color: $primary-btn-color;
    color: $primary-btn-font-color;
    width: 5rem;
    padding: 0.3rem 0;
    text-align: center;
  }
  
  .periods-table-info-options {
    position: relative;
    
    &:hover .periods-table-info-options-list {
      display: block;
      z-index: 1;
      
      & a {
        text-decoration: none;
        background-color: $third-btn-color;
        color: $third-btn-font-color;
        display: block;
        width: 5rem;
        padding: 0.3rem 0;
      }
    }
  }
  
  .periods-table-info-options-list {
    position: absolute;
    display: none;
    text-align: center;
  }
  
// Class Bonus Page (periods/_class_bonus.html.erb)

.new_bonus {
  top: 20rem; // this seems super hacky, need to fix
  position: relative;
  margin: 0 auto;
  width: 20rem;
}

// Period Table Page (periods/show.html.erb)

.period-title-container {
  position: relative;
  text-align: center;
  top: 4rem;
}

.period-table {
  position: relative;
  top: $standard-margin-top;
  margin: 0 auto;
}

  .period-table th {
    padding: 0.5rem;
    text-align: center;
    font-size: 1rem;
  }

  .period-table td {
    padding: 0.2rem 1rem;
    font-size: 0.8rem;
    height: 3rem;
    vertical-align: bottom;
  }

  .period-table-info:not(:last-child) {
    border-bottom: 1px solid $primary-btn-color;
  }
  
  .period-table-info-options span {
    display: block;
    background-color: $primary-btn-color;
    color: $primary-btn-font-color;
    width: 5rem;
    padding: 0.3rem 0;
    text-align: center;
  }
  
  .period-table-info-options {
    position: relative;
    
    &:hover .period-table-info-options-list {
      display: block;
      z-index: 1;
      
      & a {
        text-decoration: none;
        background-color: $third-btn-color;
        color: $third-btn-font-color;
        display: block;
        width: 5rem;
        padding: 0.3rem 0;
      }
    }
  }
  
  .period-table-info-options-list {
    position: absolute;
    display: none;
    text-align: center;
  }
  
  .period-table-info-richest {
    text-align: center;
    color: $green;
  }
  
  .period-table-info-cash {
    text-align: right;
  }
  
.period-class-bonuses {
  position: relative;
  top: 15rem; // this seems hacky, need to fix
  display: block;
  margin: 0 auto;
  padding: 2rem;
  background-color: $primary-bg-color;
  color: $primary-font-color;
  width: 20rem;
  text-align: center;
}

  .period-class-bonuses a {
    position: relative;
    text-decoration: none;
    display: block;
    padding: 0.5rem 0;
    margin-top: 1rem;
    width: 100%;
    background-color: $primary-btn-color;
    color: $primary-btn-font-color;
    text-align: center;
    font-size: 1em;
    
    &:hover,
    &:focus {
      background-color: $secondary-btn-color;
      color: $secondary-btn-font-color;
    }
  }
