// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'variables';

.login-container {
  position: relative;
  top: $standard-margin-top;
  display: block;
  margin: 0 auto;
  padding: 2rem 2rem;
  color: $primary-font-color;
  background-color: $primary-bg-color;
  width: 20rem;
  text-align: center;
}

  .login-title {
    font-size: 2em;
  }

  .login-container input[type="text"],
  .login-container input[type="password"] {
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-top: 1rem;
    width: 100%;
  }
  
  .login-container input[type="submit"] {
    padding: 0.5rem 2rem;
    background-color: $primary-btn-color;
    color: $primary-btn-font-color;
    
    &:focus,
    &:hover {
      background-color: $secondary-btn-color;
      color: $secondary-btn-font-color;
    }
  }