// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.login-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 5rem 2rem;
  color: #FAFAFA;
  background-color: #47A275;
  width: 60%;
  min-width: 20rem;
  text-align: center;
}

  .login-container label {
    position: relative;
    font-size: 1rem;
    display: block;
    margin-bottom: 0.2rem;
  }
  
  .login-container input {
    position: relative;
    font-size: 1rem;
    text-align: center;
    display: block;
    border: 0;
    margin: 0 auto;
    height: 2.5rem;
    
    &:focus {
      outline: 2px solid #223D42;
    }
  }
  
  #email, #password {
    margin-bottom: 2rem;
    width: 80%;
    max-width: 20rem;
  }
  
  input[type="submit"] {
    width: 12rem;
    background-color: #223D42;
    color: #FAFAFA;
    
    &:hover,
    &:focus {
      background-color: #FAFAFA;
      color: #223D42;
    }
  }