// Place all the styles related to the Students controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.student-list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

  .student-list th {
    padding: 0.5rem;
    text-align: center;
    font-size: 1rem;
  }
  
  .student-list td {
    padding: 0.3rem 1rem;
    font-size: 0.8rem;
  }
  
  .student-list-info:not(:last-child) {
    border-bottom: 1px solid #223D42;
  }
  
  .student-list-info a {
    text-decoration: none;
    display: inline-block;
    background-color: #47A275;
    color: #FAFAFA;
    padding: 0.2rem 1rem;
    
    &:hover,
    &:focus {
      background-color: #223D42;
    }
  }
  
  .student-list-info-cash {
    text-align: right;
  }