// Colors

$mdl-green-100: #C8E6C9;
$mdl-green-300: #81C784;
$mdl-green-500: #4CAF50;
$mdl-green-500: #5db761;
$mdl-green-700: #388E3C;
$mdl-green-900: #1B5E20;

$mdl-grey-100: #F5F5F5;

$body: $mdl-grey-100;
$green-primary: $mdl-green-500;
$green-primary-light: $mdl-green-100;
$green-primary-dark: $mdl-green-900;
