// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'variables';

.welcome-container {
  position: relative;
  top: $standard-margin-top;
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 20rem;
  padding: 2rem;
  background-color: $primary-bg-color;
  color: $primary-font-color;
}

  .welcome {
    position: relative;
    display: block;
    font-size: 3em;
  }
  
    .welcome-link {
      text-decoration: none;
      width: 10rem;
      display: block;
      position: relative;
      margin-top: 2rem;
      margin-right: auto;
      margin-left: auto;
      padding: 0.5rem 0;
      font-size: 1em;
      background-color: $primary-btn-color;
      color: $primary-btn-font-color;
      
      &:hover,
      &:focus {
        background-color: $secondary-btn-color;
        color: $secondary-btn-font-color;
      }
    }