// Place all the styles related to the Applications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'variables';

.page-header {
  background-color: $green-primary-dark;
  position: relative;
  top: 0;
  right: 0;
  left: 0;
  min-width: 880px;
}

.top-nav-ul {
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 1.5em;
}

.top-nav-ul a, .transfer-money-modal-btn {
  text-decoration: none;
  color: $body;
  padding: 0 0.75em 0.25em 0.75em;
  border-bottom: 3px solid $green-primary-dark;
  -webkit-transition: 0.25s all ease;
  -moz-transition: 0.25s all ease;
  transition: 0.25s all ease;
  cursor: pointer;
}

.top-nav-ul a:hover, .transfer-money-modal-btn:hover {
  border-bottom: 3px solid $body;
  -webkit-transition: 0.25s all ease;
  -moz-transition: 0.25s all ease;
  transition: 0.25s all ease;
}

.top-nav-li {
  display: inline-block;
}

.home-icon,
.signout-icon {
  position: absolute;
  color: $body;
  top: 0.5em;
  text-decoration: none;
}

.home-icon {
  left: 1em;
}

.signout-icon {
  right: 1em;
}


// Notice/Alert
.notice, #notice,
.alert, #alert {
  text-align: center;
}
