// Place all the styles related to the Applications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'variables';

.page-header {
  background-color: $green-primary-dark;
  position: relative;
  top: 0;
  right: 0;
  left: 0;
  min-width: 880px;
}

.top-nav-ul {
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 1.5em;
}

.top-nav-ul a, .transfer-money-modal-btn {
  text-decoration: none;
  color: $body;
  padding: 0 0.75em 0.25em 0.75em;
  border-bottom: 3px solid $green-primary-dark;
  -webkit-transition: 0.25s all ease;
  -moz-transition: 0.25s all ease;
  transition: 0.25s all ease;
  cursor: pointer;
}

.top-nav-ul a:hover, .transfer-money-modal-btn:hover {
  border-bottom: 3px solid $body;
  -webkit-transition: 0.25s all ease;
  -moz-transition: 0.25s all ease;
  transition: 0.25s all ease;
}

.top-nav-li {
  display: inline-block;
}

.home-icon,
.signout-icon {
  position: absolute;
  color: $body;
  top: 0.5em;
  text-decoration: none;
}

.home-icon {
  left: 1em;
}

.signout-icon {
  right: 1em;
}


// Notice/Alert
.notice, #notice,
.alert, #alert {
  text-align: center;
}

.active-page {
  border-bottom: 3px solid #ddd !important;
}

// Slide Out Menu

.slide-menu-inner {
  position: fixed;
  width: 300px;
  top: 0;
  bottom: 0;
  left: 0;
  background: $blue-primary-mid;
  z-index: 1000;
  margin-left: -300px;
  transition: 0.25s all ease;
}

.slide-menu-container-show {
  border-right: 4px solid $blue-primary-dark;
  transition: 0.25s all ease;
  margin: 0;
}

.menu-icon {
  color: $body;
  cursor: pointer;
  transition: 0.25s all ease;
  position: absolute;
  top: 0.5em;
  left: 1em;
}

.slide-menu-container-show > .menu-icon {
  margin-left: 300px;
  left: 0;
  padding: 4px;
  padding-left: 0;
  background: $blue-primary-dark;
  transition: 0.25s all ease;
}

.menu-links-container {
  margin-top: 80px;
}

.list-unstyled {
  list-style-type: none;
}

.list-unstyled a {
  text-decoration: none;
}

.menu-item {
  color: $body;
  padding: 2px;
  margin: 5px;
  cursor: pointer;
}

.menu-heading {
  margin-top: 20px;
  text-decoration: underline;
  cursor: default;
}
