// Place all the styles related to the Dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'variables';

.dashboard-instructor {
  width: 20rem;
}

.dashboard-instructor a {
  display: block;
}

.dashboard-info-container {
  width: 90%;
  height: 500px;
  margin: 0 auto;
  min-width: 960px;
}

.dashboard-info-container a {
  color: #333;
  text-decoration: none;
}

.dashboard-info {
  width: 33%;
  background: $green-primary;
  display: inline-block;
  position: relative;
  text-align: center;
}

.dashboard-stat-heading,
.dashboard-stat {
  font-size: 2em;
  margin: 1.5em 0;
}

.period-title {
  position: relative;
  display: inline-block;
  width: 33%;
  background: $green-primary;
  padding: 1em 0 1em 1em;
  
}

.dashboard-section-title {
  font-size: 24px;
  font-weight: bold;
  padding: 0;
  margin-top: 20px;
  margin-bottom: 0;
}

.dashboard-header-container {
  position: relative;
  width: 90%;
  min-width: 960px;
  margin: 0 auto;
}

.stats-totals-container {
  position: absolute;
  right: 0;
  bottom: 0;
}

.stats-totals {
  margin-left: 25px;
}
