// Place all the styles related to the jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'variables';

.jobs-table {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.jobs-table td:last-child {
  border-right: 1px solid #cbcbcb;
}

.jobs-table-student-name {
  min-width: 20rem;
}

.jobs-table-job {
  min-width: 35rem;
}

.jobs-show {
  width: 30rem;
}
