// Place all the styles related to the Periods controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'variables';

// .periods-table {
//   width: 880px;
// }

.periods-table td:last-child {
  border-right: 1px solid #cbcbcb;
}

.periods-table-info-options {
  position: relative;
}

.periods-table-info-options-list {
  position: absolute;
  left: 100%;
  top: 15%;

  margin-top: 0;

  display: none;
}

.periods-table-info-options-list a {
  display: block;
  margin: 0;
}

.periods-edit {
  width: 55rem;
}

.periods-edit-input-wrapper {
  width: 15rem;
}


// Roster View
.period-table td:nth-child(4) {
  text-align: center;
}

.period-table-info-options {
  position: relative;
}

.period-table-info-options-list {
  position: absolute;
  left: 100%;
  top: 15%;

  margin-top: 0;

  display: none;
}

.period-table-info-options-list a {
  display: block;
  margin: 0;
}

.period-table-info-behavior,
.period-table-info-richest {
  text-align: center;
}

.period-bonuses {
  width: 30rem;
}


.active {
  display: block;
}

.period-title-container {
  width: 884px;
  margin: 0 auto;
  position: relative;
  margin-top: 60px;
  margin-bottom: 65px;
}

.period-title-main-heading {
  position: absolute;
  left: 0;
  bottom: 0;
  font-weight: bold;
  font-size: 24px;
}

//Awards Modal
.class-bonus-modal-container {
  display: none;
}

.class-bonus-modal-container {
  position: fixed;
  margin: 0;
  width: 500px;
  height: 500px;
  top: 50%;
  left: 50%;
  border-radius: 5px;
  transform: translate(-50%, -50%);
  background-color: #e0e0e0;
  display: none;
}

.class-bonus-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.class-bonus-modal-header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 80px;
  background-color: #0087e7;
  border-radius: 5px 5px 0 0;
}

.close-btn {
  position: fixed;
  top: 25px;
  right: 25px;
  color: #eee;
  cursor: pointer;
  display: none;
}
