// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'variables';

.welcome-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.welcome-header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 300px;
  background: $green-primary;
}

.signup-form-container {
  background-color: #eaeaea;
  width: 350px;
  height: 450px;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 3px;
  box-shadow: 2px 2px 8px rgba(66, 66, 66, 0.6);
}

.signup-form-container .btn-cc {
  float: right;
  width: 100%;
}

.shared-links {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
}

.shared-links .pure-button {
  width: 100%;
  margin-top: 5px;
  border-radius: 0;
}
